@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Lee mas en <a href="https://www.delicias.tecnm.mx">Instituto Tecnologico de Delicias</a>.</p>
</div>
